

label{
    display: inline-block;
    margin: 10;
}

input:focus{
    outline: none;
}

input{
    border: 1px solid;
    border-right: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn{
    color: brown;
    background: yellow;
    cursor: pointer;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
